*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    align-content: center;
}
/* #ac_tbody tr{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
} */
#ac_tbody tr td{
    background-color: #ffffff;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    /* width: 120px; */
    /* width: 20%; */
    /* height: 90px; */
    /* height: 10%; */
    cursor: pointer;
}
#ac_table{
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 300px; */
    /* margin-bottom: 50px; */
    /* margin-top: 10%; */
    margin-bottom: 5%;
}
#ac_tbody{
    display: inline;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 120px;
    padding-top: 100px;
    background-color: #F5F5F5;
    display: inline;
    outline: #E6E6E6;
}
input{cursor: pointer;}
/* #t_table+#contents{
    display: block;
    width: 900px;
} */
#contents{
    float: left;
}
#ai_image_div {
    /* margin-top: 25px; */
    /* margin-left: 150px; */
    /* margin-bottom: 20px; */
    float: right;
    /* width: 700px; */
    /* height: 700px; */
    border: 2px solid #D43B53;
    /* border-radius: 400px; */
    position: relative;
}
#ai_image_indiv{
    background-color: #F4F8F9;
    /* border-radius: 350px; */
    /* width: 600px; */
    /* height: 600px; */
    /* margin-top: 45px; */
    /* margin-left: 45px; */
    border: 1px solid#C6C6C6;
}
#image{
    margin-top: auto;
    margin-bottom: auto;
    /* width: 575px;  */
    position: absolute;
    transform: translate(-50%, 10%);
    z-index: 3;
}
#next_btn1{
    float: right;
    display: inline;
    margin-right: 300px;
    margin-top: 10px;
    width: 100px;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    border: 1px solid#C6C6C6;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
#next_btn2{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    width: 100px;
    color: #fff;
    background: #707070;
    border: none;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 4px solid #424242;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
header{
    background-color: #F4F4F4;
    height: 85px;
    margin: auto 0px;
    text-align: center;
    align-content: center;
}
#teb{
    float: right;
    /* font-weight: 900; */
    /* margin-right: 100px; */
    /* margin-top: 33px; */
    display: inline;
    color: #757575;
    cursor: pointer;
    letter-spacing: 1px;
}
#fot{
    display: block;
    /* width: 100%; */
    /* margin-top: 50px; */
    visibility: hidden;
}
#f_table{
    /* margin-top: 200px; */
    position:absolute;
}

#f_td1, #f_td3{
    background-color: #F5F5F5;
    /* height: 100px; */
    /* width: 25%; */
}
#f_td2, #f_td4{
    background-color: #EDEDED;
    /* height: 100px; */
    /* width: 25%; */
}
/* #in_name+#in_tr+#input{display: block;} */
#in_name{
    display: inline;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: 20px;
    background-color: #D43B53;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    position:absolute;
    /* transform: translate(175%,-25%); */
    margin-top: -12px;
}
#in_tr{
    display: inline;
    height: 42px;
    margin-top: -12px;
    background-color: #FCFCFC;
    border: 1px solid#C6C6C6;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    /* width: 430px; */
    z-index: 20;
    position: absolute;
}
#input{
    display: inline;
    left: 1px;
    margin-top: -1px;
    width: 400px;
    height: 42px;
    padding-left: 10px;
    border-style: none;
    position: absolute;
    z-index: 30;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0);
}
#text{
    top: -150px;
    /* margin-left: -500px; */
    position: relative;
}
/* #save{width: 100%;height: 100%;} */